RewriteEngine On

#Global
RewriteRule ^admin$ admin.php
RewriteRule ^home$ index.php
RewriteRule ^login$ login.php

#-------------------------- View -----------------------------
#View Annonce
RewriteRule ^ListeAnnonce$ view/pages/admin/annonce/liste.php
RewriteRule ^CorbeilleAnnonce$ view/pages/admin/annonce/corbeille.php

#View Avis
RewriteRule ^ListeAvis$ view/pages/admin/avis/liste.php
RewriteRule ^CorbeilleAvis$ view/pages/admin/avis/corbeille.php

#View Candidature
RewriteRule ^ListeCandidature$ view/pages/admin/candidature/liste.php
RewriteRule ^CorbeilleCandidature$ view/pages/admin/candidature/corbeille.php

#View Categorie
RewriteRule ^ListeCategorie$ view/pages/admin/categorie/liste.php
RewriteRule ^CorbeilleCategorie$ view/pages/admin/categorie/corbeille.php

#View Utilisateur
RewriteRule ^ListeUtilisateur$ view/pages/admin/user/liste.php
RewriteRule ^CorbeilleUtilisateur$ view/pages/admin/user/corbeille.php

#view Zone
RewriteRule ^ListeZone$ view/pages/admin/zone/liste.php
RewriteRule ^CorbeilleZone$ view/pages/admin/zone/corbeille.php

#-------------------------- Controller -----------------------------
#Annonce
RewriteRule ^annonceController$ controller/annonce/AnnonceMainController.php

#Avis
RewriteRule ^avisController$ controller/avis/AvisMainController.php

#Candidature
RewriteRule ^candidatureController$ controller/candidature/CandidatureMainController.php

#Catégorie
RewriteRule ^categorieController$ controller/categorie/CategorieMainController.php

#Users
RewriteRule ^userMainController$ controller/user/UserMainController.php

#Zone
RewriteRule ^zoneController$ controller/zone/ZoneMainController.php

#-------------------------- Model -----------------------------
#Annonce
RewriteRule ^annonceRepo$ controller/AnnonceRepository.php

#Avis
RewriteRule ^avisRepo$ controller/AvisRepository.php

#Candidature
RewriteRule ^candidatureRepo$ controller/CandidatureRepository.php

#Catégorie
RewriteRule ^categorieRepo$ controller/CategorieRepository.php

#Users
RewriteRule ^userRepo$ controller/UserRepository.php

#Zone
RewriteRule ^zoneRepo$ controller/ZoneRepository.php